body {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    margin: 0 10%;
}

.box {
    border: 2px solid black;
    padding: 12px;
    margin: 12px auto;
}

.colorBox {
    width: 100%;
}
  
.colorPanel {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.darkRed {
    background-color: rgb(139 0 0);
    color: #fff;
}
  
.midnightBlue {
    background-color: rgb(25 25 112);
    color:#fff;
}
  
.Black {
    background-color: rgb(0 0 0);
    color: #fff;
}
  
.Evergreen {
    background-color: rgb(38 69 62);
    color: #fff;
}
  
.lightBlue {
    background-color: rgb(173 216 230);
    color:#fff;
}
  
.Mahogany {
    background-color: rgb(192 64 0);
    color: #fff;
}

.fontPanel {
    width:45%;
    display: inline-block;
}

.fontName {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style:italic;
}

.Alexandria {
    font-family: 'Alexandria', serif;
}

.Oswald {
    font-family: 'Oswald', sans-serif;
}

.textPanel h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Alexandria', sans-serif;
}

.textPanel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

.textPanel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}
