*{
    box-sizing: border-box;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    background-color: black;
}
html {
    font-family: Helvetica;
    font-size: 22px;
    text-align: center;
    color: seashell;
}

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
    display:flex;
    min-height: 69px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: black;
    opacity: 1;

}
#logo {
    margin-left: 10px;
}
header a {
    color: seashell;
    margin-right: 15px;
}
main {
    margin: 0 60px;
}
section#mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*k169ka*_ga*MTA4NzgwMTI3My4xNjY2NzAzNTI1*_ga_3LRZM6TM9L*MTY3MDY2NzY3Mi4xMjIuMS4xNjcwNjY4NzcxLjAuMC4w");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 70px;
    height: 700px;
    width: 100%;
    padding-bottom: 60px;
}
.heading {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 40px;
}
section#featured_tea {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 300px;
    margin-bottom: 40px;
}
 figure img {
     height: 200px;
     width: 300px;
     margin: 10px;
 }
 section#locations {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-content: center;
     align-items: baseline;
     flex-wrap: wrap;
     background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*k169ka*_ga*MTA4NzgwMTI3My4xNjY2NzAzNTI1*_ga_3LRZM6TM9L*MTY3MDY2NzY3Mi4xMjIuMS4xNjcwNjY4NzcxLjAuMC4w");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 500px;
     width: 100%;
     line-height: 65px;
 }
 .downtown {
     width: 300px;
     margin: 15px 40px;
     opacity: 1;
 }
 .bayside {
     width: 300px;
     margin: 15px 40px;
     opacity: 1;
 }
 .oakdale {
     width: 300px;
     margin: 15px 40px;
     opacity: 1;
 }
footer {
    height: 200px;
    padding-left: 20px;
    line-height: 50px;
}
