* {
    background-color: black;
    background-image: url("./pictures/sl_0210121_40570_43.jpg");
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    * {
        background-image: url(./pictures/1582100.webp);
        background-size: cover;
    }
}