body {
    background-color: black;
    background-image: url("./pictures/sl_0210121_40570_43.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
